.guy{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100px;
    height: 100px;
    
}

.points{
    position: absolute;
    top: 300px;
}

.stop{
    position: absolute;
    top: 338px;
    left: 500px;
}
.closed{
    display: none;
}
/* .modal{
    
    
} */
.wid{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px
}
.modal__overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60;
    background-color: black;
    opacity: 0.5;
}